@font-face { font-family: '_gotham'; src: url(fonts/gothampro.woff) format('woff'), url(fonts/gothamproregular-webfont.ttf) format('truetype'), url(fonts/gothamproregular-webfont.svg) format('svg'); font-weight: 400; font-style: normal; }
* { box-sizing:border-box}
a { color:#fff;}
.hide { display:none}
.wrapper { position:absolute; bottom:0; left:0; right:0; top:0; z-index:1;}
.wrapper:not(.step-one):before { content:""; display:block; position:absolute; z-index:1; background:rgba(204,204,204,0.5); left:0; right:0; bottom:-10px; height:53px;}
.wrapper h1 { font:normal 14px '_gotham',sans-serif; color:#46aaff; text-transform:uppercase; margin:0 0 5px; text-align:center}
.wrapper .textfield { font:normal 14px '_gotham',sans-serif; width:100%; height:43px; border:none; cursor:pointer; margin-bottom:20px; text-indent:9px; }
.wrapper .submit {font:normal 12px '_gotham',sans-serif; letter-spacing:1px; text-align:center; color:#FFF; width:100%; border:0; cursor:pointer; margin-bottom:20px; height:50px; text-transform:uppercase}
.header { min-height:100px; max-height:170px; bottom:75%; top:0; position:absolute; z-index:2; left:0; right:0}
.header .logo { margin:5% 10%; min-height:60px;}
.formbox { margin:55% 10% 0;}

.step-one { }
.step-two .formbox { margin-top:42%;}
.step-two .formbox .textfield { margin-bottom:5px;}
.step-two .formbox .submit { height:43px;}

.step-three h1 { font-size:24px; margin-top:20px;}

.join-btn { margin: 5px; width:100%; background:rgb(214,136,39);text-align:center; color:#FFF; border: 1px solid white;}
.btn-next-step {background:rgb(214,136,39); width:75%; text-align:center; color:#FFF; border: 1px solid white; display:inline;}
.btn-prev-step {background:rgb(214,136,39); width:25%; text-align:center; color:#FFF; border: 1px solid white; display:inline;}
.error { border: 1px solid #DE1F1F!important; }
